# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: README auto update

on:
  push:
    branches: [ master ]
    
jobs:
  build:

    runs-on: ubuntu-latest
    env:
      working-directory: ./

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: VCS Configuration
      run: |
        git config --local user.email "leey93ssu@gmail.com"
        git config --local user.name "ineedcoffee" 

    - name: Modify README 
      run: |
        python3 test1.py
        git status -sb |tee status.txt
        python3 test2.py

    - name: Update if Modified
      shell: bash
      run: |
        res=$(<commit_or_not.txt)
        if [ ${res} -ne "1" ]; then
        ehco "README not modified"
        exit -1
        fi

    - name: Push
      uses: ad-m/github-push-action@master
      with:
        branch: 'master'
        github_token: $ 
      
